html, body {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	background-color: #0D0D0D;
}
header, section, footer, aside, article, main {
	margin: 1%;
	padding: 30px;
	font-size: 30px;
	text-align: center;
	border: solid;
	border-color: #BFBFBF;
}
header {
	background-color: #0D0D0D;
	color: #FFF;
	width: 95%;
}
nav {
	color: #f6f4e6;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}
main {
	background-color: #0D0D0D;
	color: #FFF;
	width: 95%;
}

a {
	color: #333;
	font: Tahoma, Geneva, sans-serif;
	font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


section {
	float: none;
	background-color: #0D0D0D;
	width: 95%;
	color: #FFF;
	font-size:16px;
}
article {
	background-color:#0D0D0D;
	width: auto;
	color: #FFF;
	border: 0;
}
aside {
	background-color: #0D0D0D;
	width: 95%; 
	border:0;
	float: left;
}
footer {
	background-color: #F2F2F2;
	width: 95%;
	height:70px;
	color: #FFF;
	clear: both;
}
a:hover {
	background-color: none;
}

p{
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	}

.titulo{
	font-size:19px;
	}
	
h3{
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;	
	}
	
.Div1{
	background-color:white;
	font:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:white;
	width:auto;
	
	}
	
.Div2{
	background-color:white;
	font:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:white;
	width:auto;
	
	}
.Div3{
background-color:transparent;
	font:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:white;
	width:70%;
	
	}	
		
	
#nombre {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	background: #D0D8D9;
	border: 2px groove white;
	border-radius: 15px;
	box-shadow: 3px 5px 5px 0 rgba(0,0,50,12);
}
#apellidos {
	font-size: 16px;
	background: #D0D8D9;
	font-family: "Times New Roman", Times, serif;
	border: 2px groove white;
	border-radius: 15px;
	box-shadow: 3px 5px 5px 0 rgba(0,0,50,12);
}
#email {
	font-size: 16px;
	background: #D0D8D9;
	font-family: "Times New Roman", Times, serif;
	border: 2px groove white;
	border-radius: 15px;
	box-shadow: 3px 5px 5px 0 rgba(0,0,50,12);
}
#telefono {
	font-size: 16px;
	background: #D0D8D9;
	font-family: "Times New Roman", Times, serif;
	border: 2px groove white;
	border-radius: 15px;
	box-shadow: 3px 5px 5px 0 rgba(0,0,50,12);
}
#comentario {
	font-size: 16px;
	background: #D0D8D9;
	font-family: "Times New Roman", Times, serif;
	border: 2px groove white;
	border-radius: 15px;
	box-shadow: 3px 5px 5px 0 rgba(0,0,50,12);
}
